<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1LN153W6JZ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1LN153W6JZ");
    </script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Kashan Amjad</title>
    <meta
      name="description"
      content="Penelope - CV / Resume / Personal Website Template by Hencework"
    />
    <meta
      name="keywords"
      content="Penelope, responsive resume template, cv template, multipurpose, responsive template, vcard, html5 template, themeforest, bootstrap, html5, creative, landing page, sass, clean, design, modern, angular js"
    />
    <meta name="author" content="Hencework" />

    <!--Favicon-->
    <link rel="shortcut icon" href="webicon.png" />
    <link rel="icon" href="webicon.png" type="image/x-icon" />

    <!--Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600"
      rel="stylesheet"
      type="text/css"
    />

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <style>
      .service-icon-style {
        width: 100px;
        height: 100px;
      }

      .signature {
        width: 200px;
        height: 150px;
      }

      .client-icon {
        width: 100px;
        height: auto;
        padding-bottom: 20px;
      }

      .whatsapp-icon {
        display: block;
        height: auto;
        width: 200px;
        margin-top: 25px;
        margin-bottom: 35px;
      }
    </style>
  </head>

  <body id="body" data-ng-app="contactApp">
    <!--Fixed Bg Image-->
    <div class="fixed-bg"></div>
    <div class="fixed-bg-overlay"></div>
    <!--/Fixed Bg Image-->

    <!--Preloader-->
    <div id="pre_load" class="preloader-it">
      <div id="la_anim" class="la-anim-1"></div>
    </div>
    <!--/Preloader-->

    <!--Container-->
    <div class="container-fluid">
      <div class="row">
        <div
          id="vertical_nav_wrap"
          class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap"
        >
          <!--Navigation-->
          <nav class="navbar navbar-default vertical-nav" role="navigation">
            <div class="navbar-header">
              <button
                type="button"
                class="btn btn-default navbar-toggle"
                data-toggle="collapse"
                data-target="#navbar_collapse"
              >
                <span class="mask"></span>
                <span class="btn-label">
                  <span class="pe-7s-menu"></span>
                </span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar_collapse">
              <ul class="nav navbar-nav">
                <li><a data-scroll href="#body"></a><span>about</span></li>
                <li>
                  <a data-scroll href="#services_sec"></a><span>services</span>
                </li>
                <li>
                  <a data-scroll href="#skill_sec"></a><span>skills</span>
                </li>
                <li><a data-scroll href="#work_sec"></a><span>work</span></li>
                <li>
                  <a data-scroll href="#edu_sec"></a><span>education</span>
                </li>
                <li>
                  <a data-scroll href="#exp_sec"></a><span>experience</span>
                </li>
                <li>
                  <a data-scroll href="#client_sec"></a><span>clients</span>
                </li>
                <li>
                  <a data-scroll href="#achivement_sec"></a
                  ><span>achivements</span>
                </li>
                <li>
                  <a data-scroll href="#contact_sec"></a><span>contact</span>
                </li>
              </ul>
            </div>
          </nav>
          <!--/Navigation-->
        </div>
        <div class="col-lg-8 col-xs-12 pad-zero">
          <!--Header-->
          <header>
            <div class="header-wrap col-lg-10 center-div">
              <div class="float-left name">
                <a data-scroll href="#body">
                  <span> Kashan Amjad </span>
                </a>
              </div>
              <div class="float-right social-download-wrap">
                <a
                  href="/pdf/KashanAmjadResume.pdf"
                  class="btn btn-default float-left"
                  download="KashanAmjadResume.pdf"
                >
                  <span class="mask"></span>
                  <span class="btn-label">
                    <b>download resume</b>
                    <span class="icon pe-7s-download"></span>
                  </span>
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
          </header>
          <!--/Header-->

          <!--Main Content-->
          <div
            id="main_content"
            class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50"
          >
            <!--Introduction Sec-->
            <section
              id="intro_content_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad"
            >
              <div class="person-img margin-bottom-xs"></div>
              <h1>Hey!<span id="typed"></span></h1>
              <h6>about</h6>
              <p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
                As a seasoned visual creator with extensive expertise in
                videography, photography, editing, VFX, and design, I bring a
                unique blend of creativity and technical skill to every project.
                With a Bachelor's degree in mass communication and a
                specialization in film and drama production, I have successfully
                led numerous high-profile projects, including event coverage for
                Porsche Middle East, branding initiatives, and dynamic
                promotional content. My diverse experience across esteemed
                organizations in Dubai and Pakistan highlights my ability to
                deliver compelling visual stories and innovative digital
                content.
              </p>
              <p class="wow fadeInUp" data-wow-duration=".4s">
                I am a complete social animal. Find my most recent
                <!-- <a
                  class="goto-social"
                  href="https://www.behance.net/kashanamjad"
                  target="_blank"
                  >Behance</a -->
                <!-- >
                & -->
                <!-- <a
                  href="https://www.youtube.com/@kashanamjad9870"
                  class="goto-social"
                  target="_blank"
                  >Youtube</a -->
                Photography and Filmmaking work on
                <a
                  href="https://www.instagram.com/that.filmy.guy/"
                  class="goto-social"
                  target="_blank"
                  >Instagram.
                </a>
              </p>
              <div
                class="per-signature margin-top-sm wow fadeInUp"
                data-wow-duration=".4s"
              >
                <img
                  class="img-responsive signature"
                  src="img/signature.png"
                  alt="signature"
                />
              </div>
            </section>
            <!--/Introduction Sec-->

            <hr class="separater-hr" />

            <!--WhatWeDo Sec-->
            <section
              id="services_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap sec-pad-top sec-pad-bottom-xs"
            >
              <h6>what i do</h6>
              <div class="row">
                <div
                  class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
                  data-wow-duration=".4s"
                  data-wow-delay="0s"
                >
                  <img class="icon service-icon-style" src="img/video.png" />
                  <span class="key-fact">Video Production</span>
                </div>
                <div
                  class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
                  data-wow-duration=".4s"
                  data-wow-delay=".1s"
                >
                  <img
                    class="icon service-icon-style"
                    src="img/photography.png"
                  />
                  <span class="key-fact">Photography</span>
                </div>
                <div
                  class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
                  data-wow-duration=".4s"
                  data-wow-delay=".2s"
                >
                  <img class="icon service-icon-style" src="img/vfx.png" />
                  <span class="key-fact">Visual Effects</span>
                </div>
                <div
                  class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
                  data-wow-duration=".4s"
                  data-wow-delay=".3s"
                >
                  <img
                    class="icon service-icon-style"
                    src="img/designing.png"
                  />
                  <span class="key-fact">Graphic Designing</span>
                </div>
              </div>
            </section>
            <!--/WhatWeDo Sec-->

            <hr class="separater-hr" />

            <!--Skills Sec-->
            <section
              id="skill_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap sec-pad-top sec-pad-bottom-xs"
            >
              <h6>technical skills</h6>
              <p class="wow fadeInUp" data-wow-duration=".4s">
                As a passionate visual creator, I moved beyond traditional
                pathways to explore my creativity, experimenting with diverse
                techniques and cutting-edge software. For me, these tools are
                more than mere instruments; they are gateways to crafting
                compelling visual stories. Today, I blend critical thinking,
                empathy, and artistic flair to deliver impactful and visually
                stunning content across film, photography, and VFX. My journey
                has led me to develop unique solutions that resonate deeply with
                audiences, leveraging technology to enhance every frame and
                design.
              </p>
              <div class="row margin-top-40">
                <div class="col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Videography</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <span data-width="95">
                          <strong><i>95</i>%</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Photography</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <span data-width="90">
                          <strong><i>90</i>%</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Adobe Premiere Pro</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <span data-width="95">
                          <strong><i>95</i>%</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Adobe After Effects</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <span data-width="80">
                          <strong><i>80</i>%</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Adobe Photoshop</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <span data-width="95">
                          <strong><i>95</i>%</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Adobe Illustrator</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <div class="bar-wrap">
                          <span data-width="95">
                            <strong><i>95</i>%</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Blender</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <div class="bar-wrap">
                          <span data-width="50">
                            <strong><i>50</i>%</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Davinci Resolve</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <div class="bar-wrap">
                          <span data-width="70">
                            <strong><i>70</i>%</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Visual Effects</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <div class="bar-wrap">
                          <span data-width="85">
                            <strong><i>85</i>%</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
                  <span class="progress-cat">Cinematography</span>
                  <div class="progress-bar-graph">
                    <div class="progress-bar-wrap">
                      <div class="bar-wrap">
                        <div class="bar-wrap">
                          <span data-width="95">
                            <strong><i>95</i>%</strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--/Skills Sec-->

            <hr class="separater-hr" />

            <!--Work Sec-->
            <section
              id="work_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap sec-pad"
            >
              <h6>work</h6>
              <div class="portfolio-wrap project-gallery padding-sec-lg">
                <ul
                  id="portfolio"
                  class="portf auto-construct project-gallery"
                  data-col="2"
                >
                  <li
                    class="item"
                    data-src="img/mock1.jpg"
                    data-sub-html="<h6>Food Photography</h6>"
                  >
                    <a href="">
                      <img
                        class="img-responsive"
                        src="img/mock1.jpg"
                        alt="Image description"
                      />
                      <span class="hover-cap">Food Photography</span>
                    </a>
                  </li>
                  <li
                    class="item"
                    data-src="https://youtu.be/ImhkKlFCi08"
                    data-poster="img/mock2.jpg"
                    data-sub-html="<h6>Digtal Ads</h6>"
                  >
                    <a href="">
                      <img
                        class="img-responsive"
                        src="img/mock2.jpg"
                        alt="Image description"
                      />
                      <span class="hover-cap">Digtal Ads</span>
                    </a>
                  </li>
                  <li
                    class="item"
                    data-src="img/LIZA-2.png"
                    data-sub-html="<h6>Sports Photography</h6>"
                  >
                    <a href="">
                      <img
                        class="img-responsive"
                        src="img/LIZA-1.png"
                        alt="Image description"
                      />
                      <span class="hover-cap">Sports Photography</span>
                    </a>
                  </li>
                  <li
                    class="item"
                    data-src="https://www.youtube.com/wxr1F_mxWz8?feature=share"
                    data-sub-html="<h6>VFX</h6>"
                  >
                    <a href="">
                      <img
                        class="img-responsive"
                        src="img/mock3.jpg"
                        alt="Image description"
                      />
                      <span class="hover-cap">VFX</span>
                    </a>
                  </li>
                  <li
                    class="item"
                    data-src="https://youtu.be/j44DIhB_OmU"
                    data-sub-html="<h6>Cinematic</h6>"
                  >
                    <a href="">
                      <img
                        class="img-responsive"
                        src="img/edwin.jpg"
                        alt="Image description"
                      />
                      <span class="hover-cap">Cinematic</span>
                    </a>
                  </li>
                  <li
                    class="item"
                    data-src="https://youtu.be/x2rBZLGfwPc"
                    data-sub-html="<h6>Wedding Photography</h6>"
                  >
                    <a href="">
                      <img
                        class="img-responsive"
                        src="img/rachelle.jpg"
                        alt="Image description"
                      />
                      <span class="hover-cap">Wedding Photography</span>
                    </a>
                  </li>
                </ul>
                <!-- Hidden video div -->
                <div style="display: none" id="video1">
                  <video
                    class="lg-video-object lg-html5 video-js vjs-default-skin"
                    controls
                    preload="none"
                  >
                    <source src="videos/video1.mp4" type="video/webm" />
                    <source src="videos/video1.webm" type="video/webm" />
                    Your browser does not support HTML5 video.
                  </video>
                </div>
              </div>
            </section>
            <!--/Work Sec-->

            <hr class="separater-hr" />

            <!--Qualfication Sec-->
            <section
              id="edu_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap sec-pad"
            >
              <h6>education</h6>
              <p class="wow fadeInUp" data-wow-duration=".4s">
                I dedicated four years to studying filmmaking and journalism,
                earning my Bachelor's degree in Mass Communication with a
                specialization in Film and Drama Production. I believe in the
                importance of continuous learning and always strive to acquire
                new knowledge and skills.
              </p>
              <div class="qualfication-wrap">
                <div
                  class="qualfication first-row wow fadeInUp"
                  data-wow-duration=".4s"
                >
                  <div class="col-sm-2">
                    <span class="row-count"><span>1</span></span>
                  </div>
                  <div class="col-sm-2">
                    <span class="yr-pers vertical-align-pad">2017-2021</span>
                  </div>
                  <div class="col-sm-5">
                    <span class="insti vertical-align-pad"
                      >National university of modern languages, Islamabad
                      Pakistan</span
                    >
                  </div>
                  <div class="col-sm-3">
                    <span class="design vertical-align-pad">
                      Bachelors in Mass Communications
                    </span>
                  </div>
                </div>
                <div class="qualfication wow fadeInUp" data-wow-duration=".4s">
                  <div class="col-sm-2">
                    <span class="row-count"><span>2</span></span>
                  </div>
                  <div class="col-sm-2">
                    <span class="yr-pers vertical-align-pad">2015-2017</span>
                  </div>
                  <div class="col-sm-5">
                    <span class="insti vertical-align-pad"
                      >Islamia College Uniersity, Peshawar Pakistan</span
                    >
                  </div>
                  <div class="col-sm-3">
                    <span class="design vertical-align-pad">
                      Inter in Arts
                    </span>
                  </div>
                </div>
                <div class="qualfication wow fadeInUp" data-wow-duration=".4s">
                  <!-- <div class="col-sm-2">
                    <span class="row-count"><span>3</span></span>
                  </div> -->
                  <!-- <div class="col-sm-2">
                    <span class="yr-pers vertical-align-pad">2009-2012</span>
                  </div>
                  <div class="col-sm-5">
                    <span class="insti vertical-align-pad"
                      >Queensglen Public University, California</span
                    >
                  </div>
                  <div class="col-sm-3">
                    <span class="design vertical-align-pad">
                      Web Design Diploma
                    </span>
                  </div> -->
                </div>
              </div>
            </section>
            <!--/Qualfication Sec-->

            <hr class="separater-hr" />

            <!--Experience Sec-->
            <section
              id="exp_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap sec-pad"
            >
              <h6>experience</h6>
              <div class="exp-timeline-wrap">
                <div class="row exp-timeline timeline-active">
                  <div class="col-xs-2">
                    <div class="timeline-st"></div>
                  </div>
                  <div class="col-xs-10 exp-content-wrap">
                    <div class="row">
                      <div
                        class="wow fadeInRight"
                        data-wow-duration=".4s"
                        data-wow-delay="0s"
                      >
                        <div class="col-sm-3 duration">
                          <span>August 2024 - present</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="job-desn">Visual Producer</span>
                          <span class="job-loc">Yaz Media, Dubai </span>
                          <p class="job-summary p-small">
                            Yaz Media is a marketing and production agency
                            specializing in high-quality video content for a
                            diverse range of clients. Our portfolio includes
                            government entities such as Etihad Credit Insurance
                            (under the Ministry of Economy) and the Ministry of
                            Foreign Affairs, as well as leading real estate
                            developers like Dubai Investments Realty and Dubai
                            Investment Park. We have also worked with renowned
                            restaurants, including Ciaia, Asador de Aranda, and
                            Cuala, creating visually compelling content that
                            brings their brands to life. Additionally, our team
                            has contributed to the production of commercial ads
                            for global companies such as Coursinity and ClickUp,
                            ensuring impactful storytelling and top-tier
                            execution. At Yaz Media, we combine creativity with
                            technical expertise to deliver engaging video
                            content that elevates brands and connects with
                            audiences.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row exp-timeline">
                  <div class="col-xs-2">
                    <div class="timeline-st"></div>
                  </div>
                  <div class="col-xs-10 exp-content-wrap">
                    <div class="row">
                      <div
                        class="wow fadeInRight"
                        data-wow-duration=".4s"
                        data-wow-delay="0s"
                      >
                        <div class="col-sm-3 duration">
                          <span>June 2023 - August 2024</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="job-desn">Content Media Producer</span>
                          <span class="job-loc">VPatch, Dubai </span>
                          <p class="job-summary p-small">
                            VPatch is a creative and IT solutions company where
                            I work as a Content Media Producer. I am responsible
                            for video production, photography, video editing,
                            graphic design, motion graphics, and VFX. As the
                            team lead for content creation, I oversee projects
                            for a diverse range of clients, including
                            restaurants, real estate firms, interior designers,
                            and car rental services.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row exp-timeline">
                  <div class="col-xs-2">
                    <div class="timeline-st"></div>
                  </div>
                  <div class="col-xs-10 exp-content-wrap">
                    <div class="row">
                      <div
                        class="wow fadeInRight"
                        data-wow-duration=".4s"
                        data-wow-delay="0.2s"
                      >
                        <div class="col-sm-3 duration">
                          <span>Oct 2022 — May 2023</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="job-desn"
                            >Video Producer/ Graphic Designer</span
                          >
                          <span class="job-loc">Soken, dubai </span>
                          <p class="job-summary p-small">
                            At Soken, an app development and fitness company, I
                            was involved in several key projects. These included
                            designing the UI for the Ministry of Interior KSA,
                            creating the Soken App Monthly Report Template, and
                            producing a promotional video for the Soken app.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row exp-timeline">
                  <div class="col-xs-2">
                    <div class="timeline-st"></div>
                  </div>
                  <div class="col-xs-10 exp-content-wrap">
                    <div class="row">
                      <div
                        class="wow fadeInRight"
                        data-wow-duration=".4s"
                        data-wow-delay="0.4s"
                      >
                        <div class="col-sm-3 duration">
                          <span>March 2022 – Present</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="job-desn"
                            >Senior Digital Content Lead
                          </span>
                          <span class="job-loc"
                            >Artkash Studios, Dubai-Pakistan
                          </span>
                          <p class="job-summary p-small">
                            At Artkash Studios, a remote creative agency
                            specializing in content creation and digital
                            marketing, I worked on various projects. These
                            included branding for an auto parts shop, podcast
                            production for Politix, product photography for
                            MIP.J Store, and video production for BeVIP Rental
                            Car and Munich Motor Works in Dubai, UAE.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row exp-timeline">
                  <div class="col-xs-2">
                    <div class="timeline-st"></div>
                  </div>
                  <div class="col-xs-10 exp-content-wrap">
                    <div class="row">
                      <div
                        class="wow fadeInRight"
                        data-wow-duration=".4s"
                        data-wow-delay="0.6s"
                      >
                        <div class="col-sm-3 duration">
                          <span>June 2021 – March 2022</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="job-desn">Creative Lead </span>
                          <span class="job-loc"
                            >CXO Global Forum, Islamabad Pakistan
                          </span>
                          <p class="job-summary p-small">
                            At CXO Global Forum, I successfully managed the
                            coverage of the CxO Global Digital Summit.
                            Additionally, I oversaw the production of the CxO
                            Rendezvous Show and the CxO Weekly News Roundup.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row exp-timeline">
                  <div class="col-xs-2">
                    <div class="timeline-st"></div>
                  </div>
                  <div class="col-xs-10 exp-content-wrap">
                    <div class="row">
                      <div
                        class="wow fadeInRight"
                        data-wow-duration=".4s"
                        data-wow-delay="0.6s"
                      >
                        <div class="col-sm-3 duration">
                          <span>Dec 2019 – May 2021</span>
                        </div>
                        <div class="col-sm-9">
                          <span class="job-desn">
                            Content Production and designing</span
                          >
                          <span class="job-loc"
                            >Kahani Studios, Islamabad Pakistan
                          </span>
                          <p class="job-summary p-small">
                            At Kahani Studios, I worked on several projects
                            including designing a window ad for Dao Proptech,
                            product photography and e-commerce design for Sufas
                            Shop on Amazon, brand shoot for Malbus Pk, product
                            shoot/photography, and creating digital posts for
                            Alpha Men Skincare Brand.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--/Experience Sec-->

            <hr class="separater-hr" />

            <!--Client Sec-->
            <section
              id="client_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap sec-pad wow bounceIn"
              data-wow-duration=".4s"
            >
              <h6>clients</h6>
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  align-items: center;
                  flex-wrap: wrap;
                "
              >
                <!-- <img src="img/client6.png" alt="client" /> -->
                <img class="client-icon" src="img/client1.png" alt="client" />
                <img class="client-icon" src="img/client2.png" alt="client" />
                <img class="client-icon" src="img/client3.png" alt="client" />
                <img class="client-icon" src="img/client4.png" alt="client" />
                <img class="client-icon" src="img/client5.svg" alt="client" />
              </div>
            </section>
            <!--/Client Sec-->

            <hr class="separater-hr" />

            <!--Achivement Sec-->
            <section
              id="achivement_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap sec-pad-top sec-pad-bottom-sm"
            >
              <h6>achivements</h6>
              <p class="wow fadeInUp" data-wow-duration=".4s">
                These achievements reflect my dedication to mastering the art of
                visual storytelling and design. They highlight my commitment to
                continuous learning and my ability to create impactful,
                award-winning content.
              </p>
              <div class="achivement-list-wrap margin-top-40">
                <ul class="row">
                  <li class="col-sm-6">
                    <ul>
                      <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".4s"
                        data-wow-delay="0s"
                      >
                        <span class="dash-pointer">-</span>
                        <span class="achive-pts"
                          >#GenGeo Storytelling for Impact: Video</span
                        >
                      </li>
                      <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".4s"
                        data-wow-delay=".2s"
                      >
                        <span class="dash-pointer">-</span
                        ><span class="achive-pts"
                          >NUML Art Competition 2019 as Poster Designer and
                          secured 3rd Position</span
                        >
                      </li>
                      <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".4s"
                        data-wow-delay=".4s"
                      >
                        <span class="dash-pointer">-</span
                        ><span class="achive-pts"
                          >NUML Art Competition 2018 as Poster Designer and
                          secured 2nd Position.</span
                        >
                      </li>
                      <!-- <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".4s"
                        data-wow-delay=".6s"
                      >
                        <span class="dash-pointer">-</span
                        ><span class="achive-pts"
                          >2 times Winner
                          ( AFAQ Science Model Contest)</span
                        >
                      </li> -->
                    </ul>
                  </li>
                  <li class="col-sm-6">
                    <ul>
                      <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".4s"
                        data-wow-delay="0s"
                      >
                        <span class="dash-pointer">-</span
                        ><span class="achive-pts"
                          >#ItOnlyHappensInPakistan (Poster Competition)</span
                        >
                      </li>
                      <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".4s"
                        data-wow-delay="0.2s"
                      >
                        <span class="dash-pointer">-</span
                        ><span class="achive-pts"
                          >NUML Documentary Contest 2019</span
                        >
                      </li>
                      <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".4s"
                        data-wow-delay=".4s"
                      >
                        <span class="dash-pointer">-</span
                        ><span class="achive-pts"
                          >2 times Winner ( AFAQ Science Model Contest)</span
                        >
                      </li>
                      <!-- <li
                        class="margin-bottom-xs wow fadeInUp"
                        data-wow-duration=".6s"
                        data-wow-delay=".6s"
                      >
                        <span class="dash-pointer">-</span
                        ><span class="achive-pts"
                          >The Intercontinental Advertising Award (The Cup)
                          (ICAA) Spain</span
                        >
                      </li> -->
                    </ul>
                  </li>
                </ul>
              </div>
            </section>
            <!--/Achivement Sec-->

            <hr class="separater-hr" />

            <!--Contact Sec-->
            <section
              id="contact_sec"
              class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad"
            >
              <h6>contact</h6>
              <div
                data-ng-controller="ContactController"
                class="align-center wow fadeInUp"
                data-wow-duration=".4s"
              >
                <h3>
                  Hello
                  <span data-ng-bind="formData.inputName||'friend'"></span>, I'd
                  love to hear from you.
                </h3>
                <!-- <div> -->
                <!-- <form
                    data-ng-submit="submit(contactform, $event)"
                    name="contactform"
                    method="post"
                    class="row form-horizontal"
                    role="form"
                  >
                    <div
                      class="form-group input--hoshi col-sm-6"
                      data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }"
                    >
                      <div class="input-wrap">
                        <input
                          autocomplete="off"
                          data-ng-model="formData.inputName"
                          type="text"
                          class="form-control input__field input input__field--hoshi"
                          id="inputName"
                          name="inputName"
                          placeholder="Name"
                          required
                        />
                        <label
                          class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1"
                        ></label>
                      </div>
                    </div>
                    <div
                      class="form-group input--hoshi col-sm-6"
                      data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }"
                    >
                      <div class="input-wrap">
                        <input
                          autocomplete="off"
                          data-ng-model="formData.inputEmail"
                          type="email"
                          class="form-control input input__field input__field--hoshi"
                          placeholder="Email"
                          id="inputEmail"
                          name="inputEmail"
                          required
                        />
                        <label
                          class="input__label input__label--hoshi input__label--hoshi-color-1"
                        ></label>
                      </div>
                    </div>
                    <div
                      class="form-group input--hoshi col-sm-12"
                      data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }"
                    >
                      <div class="input-wrap">
                        <textarea
                          data-ng-model="formData.inputMessage"
                          class="form-control input input__field input__field--hoshi"
                          rows="4"
                          id="inputMessage"
                          name="inputMessage"
                          placeholder="message"
                          required
                        ></textarea>
                        <label
                          class="input__label input__label--hoshi input__label--hoshi-color-1"
                        ></label>
                      </div>
                    </div>
                    <div class="form-group col-sm-12">
                      <div class="align-center">
                        <button
                          type="submit"
                          class="btn btn-default"
                          data-ng-disabled="submitButtonDisabled"
                        >
                          <span class="mask"></span>
                          <span>send message</span>
                        </button>
                      </div>
                    </div>
                  </form> -->
                <!-- <p data-ng-class="result">{{ resultMessage }}</p>
                </div> -->
              </div>
              <div class="email-direct">
                <p class="wow fadeInRight" data-wow-duration=".4s">
                  Leave me a Meassage on my Whatsapp
                </p>
              </div>
              <a
                href="https://wa.me/971505441914?text=Hello%20Kashan!"
                target="_blank"
                class="whatsapp-icon"
              >
                <img
                  class="img-responsive"
                  src="img/whatsapp-icon.png"
                  alt="whatsapp-icon"
                />
              </a>
              <p class="wow fadeInRight" data-wow-duration=".4s">
                Or simply email me at
                <a
                  href="mailto:kashanamjad1113@gmail.com"
                  style="color: #e91e63"
                  >kashanamjad1113@gmail.com</a
                >
              </p>
            </section>
            <!--Contact Sec-->

            <hr class="separater-hr" />

            <!--Footer-->
            <footer
              class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad"
            >
              <div class="row">
                <div class="col-sm-6 available-wrap">
                  <span class="available-pointer"></span>
                  <span class="available-tag"
                    >Available for Freelance Projects.</span
                  >
                </div>
                <div class="col-sm-6">
                  <div class="social-icons-wrap float-right">
                    <!-- Social Icons
                    <ul class="social-icons float-right">
                      <li>
                        <a href="https://www.facebook.com/KashanAmjadproductions/" class="social-icon">
                          <span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social-icon">
                          <span class="fa" data-hover="&#xf099;">&#xf099;</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social-icon">
                          <span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social-icon">
                          <span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
                        </a>
                      </li>
                    </ul> -->
                    <!--/Social Icons-->
                  </div>
                  <div class="goto-top text-right float-right">
                    <a data-scroll href="#body">
                      <span data-hover="top"> top </span>
                    </a>
                  </div>
                  <div class="copywrite-wrap text-right float-right">
                    <p class="copywrite">
                      Fabricated by <b>Kashan Amjad &copy; 2024.</b> Updated
                      <b>july, 2024.</b>
                    </p>
                  </div>
                </div>
              </div>
            </footer>
            <!--/Footer-->
          </div>
          <!--/Main Content-->
        </div>
      </div>
    </div>
    <!-- /Container -->

    <!-- Scripts -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <script src="js/countTo.js"></script>
    <script src="js/jQuery.appear.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/lightgallery-all.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/froogaloop2.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
